<!doctype html>
<html>
{{{header}}}
<body>
<div class="aigis-container">

  {{{sidemenu}}}

  <div class="aigis-contents">
    <div class="aigis-contents__heading">
      <h2 class="aigis-contents__title">{{name}}</h2>
      {{{modulelist}}}
    </div>
    <div class="aigis-contents__body">
      {{{modules}}}
    </div>
  </div>

  {{{footer}}}
</div>
</body>
</html>
